<div class="whole-emergency-container d-flex flex-column align-items-center justify-content-evenly">

  <div class="emergency-category-box d-flex flex-column align-items-center justify-content-center">
    <h1>Emergency Type</h1>
    <h5>(Select the type of emergency)</h5>
  </div>

  <div class="medical-or-trauma d-flex align-items-center justify-content-center">
    <div class="medical-whole-box">
      <div class="top-medical-box d-flex align-items-center justify-content-center">
        <%= image_tag "medical-png.png" %>
      </div>
      <div class="bot-medical-box d-flex align-items-center justify-content-center">
        <h4><%= link_to "Medical", treatments_path(age_group: params[:age_group], location: params[:location], type: "medical") %></h4>
      </div>
    </div>

    <div class="trauma-whole-box">
      <div class="top-trauma-box d-flex align-items-center justify-content-center">
        <%= image_tag "trauma-png.png" %>
      </div>
      <div class="bot-trauma-box d-flex align-items-center justify-content-center">
        <h4><%= link_to "Trauma", treatments_path(age_group: params[:age_group], location: params[:location], type: "trauma") %></h4>
      </div>
    </div>
  </div>
    <%= image_tag "doc-show.png" %>
</div>
