<div class="container d-flex flex-column dashbody p-0">
  <div class="tab_box">
    <div class="profile-box mt-2">
      <%= cl_image_tag current_user.photo.key, class:"avatar-place-holder" %>
    </div>
  </div>
  <div class="position-dash-content d-flex flex-column mb-5">
    <div class="dashboard-content">
      <div class="d-flex justify-content-around info-box">
        <div class="row">
          <div class="user-info col-sm-1 col-md-12">
            <h1 class="text-center">Dr.<%=@user.first_name %> <%=@user.last_name %></h1>
            <h6 class="text-center">Id: <%= @user.id %></h6>
          </div>
        </div>
      </div>
    </div>
    <hr>
    <div class="start-treatment text-center">
      <%= link_to "New treatment", treatments_path, class:"new-treatment-btn"%>
    </div>
    <div class="box d-flex justify-content-center">
      <%= link_to "My Procedures", procedures_path %>
    </div>
     <div class="box d-flex justify-content-center">
      <%= link_to "My Patients", patients_path %>
    </div>
      <div class="box d-flex justify-content-center">
      <%= link_to "My Reports", medical_reports_path %>
    </div>
  </div>
</div>
