<div class="whole-dahs-container">
  <div class="dash-top">
    <div class="profile-box">
      <%# <%= image_tag "bw-img.png" %>
      <%= cl_image_tag current_user.photo.key, class:"avatar-place-holder" %>
    </div>
  </div>

  <div class="user-info-box d-flex flex-column align-items-center justify-content-evenly col-sm-1 col-md-12">
    <h1 class="text-center mb-4">Dr. &nbsp<%=current_user.first_name %> <%=current_user.last_name %></h1>
    <h6 class="text-center">(Doctor ID: #<%= current_user.id %>)</h6>
  </div>

  <div class="dash-bottom">
    <div class="img-button-container d-flex flex-column align-items-center">
      <div class="auto-rotate-img mt-5 mb-4">

      </div>

      <h5>My patients:</h5>

      <div class="btn-box d-flex align-items-center justify-content-center">
        <div class="my-procedures col-sm-1 col-md-12 d-flex procedures-box flex-column ps-5">
          <% @patients.each do |patient| %>
              <%= link_to "##{patient.first_name.capitalize} #{patient.last_name.capitalize}", patient_path(patient), class:"procedure-link" %>
          <% end %>
        </div>

        </div>
      </div>

    </div>
  </div>
</div>
