<div class="whole-dahs-container">

  <div class="col-12">
    <div class="dash-top">
      <div class="profile-box d-flex flex-column align-items-center justify-content-center">
        <%# <%= image_tag "bw-img.png" %>
        <%= cl_image_tag current_user.photo.key, class:"avatar-place-holder" %>
        <div class="user-info-box">
          <h1 class="text-center">Dr. &nbsp<%=current_user.first_name %> <%=current_user.last_name %></h1>
          <h6 class="text-center">(Doctor ID: #<%= current_user.id %>)</h6>
        </div>
      </div>
    </div>
  </div>

  <div class="bot">
    <div class="col-12">
      <div class="dash-bottom">
        <div class="img-button-container d-flex flex-column align-items-center">
          <div class="auto-rotate-img d-flex justify-content-center align-items-center">

            <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
              <div class="carousel-inner">
                <div class="carousel-item active"  data-bs-interval="6000">
                  <%= image_tag "covid-banner.png", class:"banner-3 d-block" %>
                </div>
                <div class="carousel-item"  data-bs-interval="6000">
                  <%= image_tag "ema-banner.png", class:"banner-3 d-block" %>
                </div>
                <div class="carousel-item"  data-bs-interval="6000">
                  <%= image_tag "ty-banner.png", class:"banner-3 d-block" %>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="search-bar">
          <%= form_with url: patients_path, method: :get, class: "d-flex" do %>
            <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "Find a patient"
            %>
            <%= submit_tag "Search", class: "btn btn-primary" %>
          <% end %>
         </div>

        <h5 class="ms-5" style="font-family:Lato;">My patients:</h5>

        <div class="btn-box d-flex align-items-center justify-content-center">
          <div class="my-procedures col-sm-1 col-md-12 d-flex procedures-box flex-column ps-2">
            <% @patients.each do |patient| %>
              <div class="patient-card m-2 d-flex position-relative">
              <% if !patient.photo.key.nil?  %>
                <%= cl_image_tag patient.photo.key, class:"patient-img" %>
                <% else %>
                <%= image_tag "place-holder.jpg", class:"patient-img" %>
                <% end %>
                  <div class="patient-info-index d-flex flex-column justify-content-center ms-2 mt-2">
                    <h3> <strong><%= link_to "#{patient.first_name.capitalize} #{patient.last_name.capitalize}", patient_path(patient)%></strong></h3>
                    <%# <div class="d-flex justify-content-between"> %>
                      <p> Patient's id: #<%= patient.id %> </p>
                    <%# </div> %>
                  </div>

                    <i class="fa-solid fa-folder-plus me-3 mb-3 position-absolute bottom-0 end-0 patient-reports"> <%= patient.medical_reports.count %></i>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
