<div class="patient-top">
  <div class="container patient-info">
    <h3> <strong> Age:</strong> <%= @patient.age %></h3>
    <h3> <strong>Weight:</strong> <%= @patient.weight %></h3>
    <h3> <strong>Occupation:</strong> <%= @patient.occupation %> </h3>
    <h3> <strong>Address:</strong> <%= @patient.address %> </h3>
    <h3> <strong>Medical History:</strong> <br> <small> <%= @patient.medical_history %></small></h3>
  </div>
    <h3 class="mt-3 ms-2"> <strong><%= @patient.first_name.capitalize %>'s reports</strong></h3>
  <div class="patient-info-report">
    <% @patient.medical_reports.each do |report| %>
      <div class="patient-reports-scroll">
        <p>
        <%= link_to medical_report_path(report) do %>
          <strong>[<%= report.diagnosis %>]</strong> - <%= report.created_at.to_s.match(/(\d{4})-(\d{2})-(\d{2})/)%>
        <% end %>
        </p>
      </div>
    <% end %>
  </div>
</div>

<div class="patient-bottom d-flex flex-column align-items-center justify-content-center">
  <%= image_tag "patient.png", class:"patientimg" %>
  <div class="patient-name d-flex flex-column justify-content-center">
    <h1 class="text-center"> <strong> <%=@patient.first_name.capitalize %> <%=@patient.last_name.capitalize %></strong></h1>
    <h6 class="text-center">(Patient ID: #<%= @patient.id %>)</h6>
  </div>

</div>
