<div class="container">
  <div class="report card mt-5 p-3">
    <h1 class ="text-center">Medical Report</h1>
    <h3> <%=@patient.first_name.capitalize%>  <%=@patient.last_name.capitalize%>, age <%=@patient.age%>,
      suffered a  <strong><%= @patient.treatment.condition.name %></strong>,
      on his/her <strong><%= @patient.treatment.injury_location.name %></strong> wich we had to apply this
      <strong><a href=<%=cl_image_path (@patient.treatment.images.key)%> target="_blank">Protocol</a></strong>.
    </h3>
    <div class="signature">
      <p>Doctor's signature:</p>
      <%= image_tag "drluis.png" %>.
    </div>
  </div>
  <div class="report card mt-5 p-3">
    <h2> Doctor <%= @patient.user.first_name %>'s note:</h2>
    <h3> <%= @patient.description %> </h3>
  </div>
</div>
