<!DOCTYPE html>
<html>
  <head>
    <title>EmaProject</title>
    <link rel="apple-touch-icon" sizes="180x180" href="favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon/favicon-16x16.png">
    <link rel="manifest" href="favicon/site.webmanifest">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://kit.fontawesome.com/c4184662af.js" crossorigin="anonymous"></script>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <div class="container">
      <div class="row">
        <div class="col-sm-12 p-0">
          <% unless controller_name == 'sessions' && action_name == 'new' || controller_name == 'pages' && action_name == 'intro' %>
          <%= render "shared/navbar" %>
          <% end %>
          <%= yield %>
          <%= render "shared/flashes" %>
        </div>
      </div>
    </div>
  </body>
    <div class="bottom-navbar">
          <% unless controller_name == 'sessions' && action_name == 'new' || controller_name == 'pages' && action_name == 'intro' %>
          <%= render "shared/footer" %>
          <% end %>
          <%= render "shared/flashes" %>
        </div>
      </div>
    </div>
</html>
